<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript:void(0)">
        <img src="assets/VoxR%20logo.svg" height="60%">
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <h1>Dataframes</h1>

      <button (click)="toggleModal()" class="btn btn-primary">
        <clr-icon shape="plus"></clr-icon>
        Add dataframe
      </button>

      <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Actions</clr-dg-column>


        <clr-dg-row *ngFor="let dataframe of dataframes">
          <clr-dg-cell>{{dataframe}}</clr-dg-cell>
          <clr-dg-cell>
            <button (click)="deleteDataFrame(dataframe)" type="button" class="btn btn-icon btn-danger" aria-label="error">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{dataframes.length}} dataframes</clr-dg-footer>
      </clr-datagrid>
    </div>

    <clr-modal [(clrModalOpen)]="openModal">
      <h3 class="modal-title">Add a dataframe</h3>
      <div class="modal-body">
        <form clrForm>
          <clr-input-container>
            <label>Name</label>
            <input clrInput placeholder="Name" name="name" [(ngModel)]="dataName" />
          </clr-input-container>
          <clr-input-container>
            <label>Address</label>
            <input clrInput placeholder="Path" name="path" [(ngModel)]="path" />
          </clr-input-container>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="toggleModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addDataFrame()">Ok</button>
      </div>
    </clr-modal>
  </div>
</div>
