<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      <img src="assets/VoxR%20logo.svg" width="70%">
      <h5 class="hint">The simple web interface for VoxR API</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="loginModel.username" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="loginModel.password" />
      </clr-password-container>
      <div *ngIf="showError" class="error active">
        Invalid user name or password
      </div>
      <button (click)="login()" type="submit" class="btn btn-primary">Connect</button>
    </div>
  </form>
</div>
